* { box-sizing: border-box;}

body {
    margin: 0;
    padding: 0;
    font-size: 0px;
}

html, body, .wrapper{
    height: 100%;
}

.column {
    width: 50%;
    height: 100%;
    display: inline-block;
    padding: 30px;
    vertical-align: top;
}

.content {
    font-size: 20px;
    background: #8a8a8a;
}

ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
}

.nav-item {
    font-size: 20px;
    border: 1px solid #000000;
    padding: 10px 20px;
    display: inline-block;
    margin: 0 15px 15px 0;
}

.nav-item:hover {
        background: #000;
        color: #fff;
        cursor: pointer;
}

.happy {background: #e7e986;}
.hopeless {background: #2a1658;}
.angry {background: #d33f25;}
.in-love {background: #ffa2be;}
.wistful {background: #abc9c5;}
.powerful {background: #b64558;}
.rebellious {background: #c70b63;}
.contemplative {background: #3b5a6e;}
.at-peace {background: #9a9ec0;}
.nostalgic {background: #ddba70;}
.pained {background: #1e1935;}
.lost {background: #25262e;}
.alive {background: #49a555;}
.grounded {background: #083519;}
.grateful {background: #ddb73b;}
.wonder {background: #ffc5c5;}
.loved {background: #df8a9d;}

.message {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.close {
    font-size: 80px;
    position: absolute;
    top: 40px;
    right: 20px;
}


.hide {
    display: none;
}