body { 
    background-image: linear-gradient(#ffffff, #ffffff, #ffffff,#54a1f2);
}

.square {
    height:400px;
    background: #ffffff00;
}

.blue {
    float: left;
}
.grey {
    float: right;
}

.responsive {
    width: 100%;
    height: auto;
    max-width: 1500px;
    float: center;

}
