body { 
    background: rgb(238, 93, 93);
    margin: 960px, 30px, 960px, 30px;
}

.column{
    background: rgb(248, 230, 64) 
    width: 130px;
    margin: 0px, 15px, 0px, 15px;
    display: inline-block
}

.wrapper{
    /* width: 960px; */
    /* margin: 0 auto 0 auto */
    background: #7cd3d6;
}
