body { 
    background-image: linear-gradient(#ffffff, #ffffff, #54a1f2);
}

.square {
    height:400px;
    background: #ffffff00;
}

.blue {
    float: left;
}
.grey {
    float: right;
}

.top {
    float: center;
    width: auto;
}
