
body { 
    background: #ffff;
    margin: auto;
    
}

.square {
    width: 768px;
    height: 768px;
    background: #f8e71c;
    margin: auto;
}

.blue {
    width: 568px;
    height: 568px;
    background: #202665;
    margin: auto;
}