
body { 
    background: #ffff;
    margin: auto;
    
}

.square {
    width: 768px;
    height: 768px;
    background: #f8e71c;
    margin: auto;

.circle {
    width: 50px;
    height: 50px;
    background: #fa9ebd;
    border-radius: 25px;
}
